.items{
  list-style: none;
  display: flex;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: #21232B;
}
.items > li{
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.img{
  width: 65px;
  padding: 20px;

}
 
.main{
  padding: 20px;
  background-color: #33373E;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-position-x: right;

}
.footer{
  padding: 10px;
  background-color: grey;
  color: whitesmoke;
}
.mainlist > li::marker{
  color:#00D8FF;
  padding: 15px;
  font-size: 1.4rem;
   
  
}
.mainlist >li {
  padding: 10px;
}
body{
  background-color: #33373E;
  background-image: url(bg.png);
}
.mainlist{padding: 10px;}
nav > h3 {
  margin-right: auto;
  color: #00D8FF;
  size: 30px;
}